<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shfc.house.dao.LeadsHouseCorrectTagMapper">
  <resultMap id="BaseResultMap" type="com.shfc.house.domain.LeadsHouseCorrectTag">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="leads_correct_id" jdbcType="BIGINT" property="leadsCorrectId" />
    <result column="tag_id" jdbcType="BIGINT" property="tagId" />
    <result column="creater" jdbcType="BIGINT" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, leads_correct_id, tag_id, creater, create_time, modifier, modify_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leads_house_correct_tag
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from leads_house_correct_tag
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.shfc.house.domain.LeadsHouseCorrectTag" useGeneratedKeys="true">
    insert into leads_house_correct_tag (id, leads_correct_id, tag_id, 
      creater, create_time, modifier, 
      modify_time, version)
    values (#{id,jdbcType=BIGINT}, #{leadsCorrectId,jdbcType=BIGINT}, #{tagId,jdbcType=BIGINT},
      #{creater,jdbcType=BIGINT}, now(), #{modifier,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=TIMESTAMP}, 0)
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.shfc.house.domain.LeadsHouseCorrectTag" useGeneratedKeys="true">
    insert into leads_house_correct_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="leadsCorrectId != null">
        leads_correct_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="leadsCorrectId != null">
        #{leadsCorrectId,jdbcType=BIGINT},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=BIGINT},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        0,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfc.house.domain.LeadsHouseCorrectTag">
    update leads_house_correct_tag
    <set>
      <if test="leadsCorrectId != null">
        leads_correct_id = #{leadsCorrectId,jdbcType=BIGINT},
      </if>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=BIGINT},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      modify_time = now(),
      version = version+1
    </set>
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfc.house.domain.LeadsHouseCorrectTag">
    update leads_house_correct_tag
    set leads_correct_id = #{leadsCorrectId,jdbcType=BIGINT},
      tag_id = #{tagId,jdbcType=BIGINT},
      creater = #{creater,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT},
      modify_time = now(),
      version = version+1
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into leads_house_correct_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      leads_correct_id,
      tag_id,
      creater,
      create_time,
      modifier,
      modify_time,
      version,
    </trim>
    values
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        #{item.id,jdbcType=BIGINT},
        #{item.leadsCorrectId,jdbcType=BIGINT},
        #{item.tagId,jdbcType=BIGINT},
        #{item.creater,jdbcType=BIGINT},
        #{item.createTime,jdbcType=TIMESTAMP},
        #{item.modifier,jdbcType=BIGINT},
        #{item.modifyTime,jdbcType=TIMESTAMP},
        #{item.version,jdbcType=BIGINT},
      </trim>
    </foreach>
  </insert>
</mapper>