<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shfc.house.dao.RealtorCompanyMapper">
  <resultMap id="BaseResultMap" type="com.shfc.house.domain.RealtorCompany">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="com_name" jdbcType="VARCHAR" property="comName" />
    <result column="com_abbr" jdbcType="VARCHAR" property="comAbbr" />
    <result column="com_create_at" jdbcType="TIMESTAMP" property="comCreateAt" />
    <result column="com_status" jdbcType="INTEGER" property="comStatus" />
    <result column="com_type" jdbcType="TINYINT" property="comType" />
    <result column="com_tel" jdbcType="VARCHAR" property="comTel" />
    <result column="com_img" jdbcType="VARCHAR" property="comImg" />
    <result column="linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="contract_number" jdbcType="VARCHAR" property="contractNumber" />
    <result column="store_num" jdbcType="INTEGER" property="storeNum" />
    <result column="realtor_num" jdbcType="INTEGER" property="realtorNum" />
    <result column="trading_center_no" jdbcType="VARCHAR" property="tradingCenterNo" />
    <result column="code_no" jdbcType="VARCHAR" property="codeNo" />
    <result column="code_type" jdbcType="BIT" property="codeType" />
    <result column="charge_person" jdbcType="VARCHAR" property="chargePerson" />
    <result column="charge_person_type" jdbcType="TINYINT" property="chargePersonType" />
    <result column="charge_person_identity" jdbcType="VARCHAR" property="chargePersonIdentity" />
    <result column="q_text" jdbcType="VARCHAR" property="qText" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="creater" jdbcType="BIGINT" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.shfc.house.domain.RealtorCompany">
    <result column="seal_data" jdbcType="LONGVARCHAR" property="sealData" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account_id, com_name, com_abbr, com_create_at, com_status, com_type, com_tel,
    com_img, linkman, contract_number, store_num, realtor_num, trading_center_no, code_no,
    code_type, charge_person, charge_person_type, charge_person_identity, q_text, is_del,
    creater, create_time, modifier, modify_time, version
  </sql>
  <sql id="Blob_Column_List">
    seal_data
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--
    开发负责人：liaozm
    功能说明：根据主键获取一条数据库记录
    是否有缓存：无
    -->
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from realtor_company
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    开发负责人：liaozm
    功能说明：根据主键删除数据库的记录
    是否有缓存：无
    -->
    delete from realtor_company
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.shfc.house.domain.RealtorCompany" useGeneratedKeys="true">
    <!--
    开发负责人：liaozm
    功能说明：插入数据库记录
    是否有缓存：无
    -->
    insert into realtor_company (id, account_id, com_name,
    com_abbr, com_create_at, com_status,
    com_type, com_tel, com_img,
    linkman, contract_number, store_num,
    realtor_num, trading_center_no, code_no,
    code_type, charge_person, charge_person_type,
    charge_person_identity, q_text, is_del,
    creater, create_time, modifier,
    modify_time, version, seal_data
    )
    values (#{id,jdbcType=BIGINT}, #{accountId,jdbcType=VARCHAR}, #{comName,jdbcType=VARCHAR},
    #{comAbbr,jdbcType=VARCHAR}, #{comCreateAt,jdbcType=TIMESTAMP}, #{comStatus,jdbcType=INTEGER},
    #{comType,jdbcType=TINYINT}, #{comTel,jdbcType=VARCHAR}, #{comImg,jdbcType=VARCHAR},
    #{linkman,jdbcType=VARCHAR}, #{contractNumber,jdbcType=VARCHAR}, #{storeNum,jdbcType=INTEGER},
    #{realtorNum,jdbcType=INTEGER}, #{tradingCenterNo,jdbcType=VARCHAR}, #{codeNo,jdbcType=VARCHAR},
    #{codeType,jdbcType=BIT}, #{chargePerson,jdbcType=VARCHAR}, #{chargePersonType,jdbcType=TINYINT},
    #{chargePersonIdentity,jdbcType=VARCHAR}, #{qText,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER},
    #{creater,jdbcType=BIGINT}, now(), #{modifier,jdbcType=BIGINT},
    #{modifyTime,jdbcType=TIMESTAMP}, 0, #{sealData,jdbcType=LONGVARCHAR}
    )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.shfc.house.domain.RealtorCompany" useGeneratedKeys="true">
    <!--
    开发负责人：liaozm
    功能说明：选择性插入数据库记录
    是否有缓存：无
    -->
    insert into realtor_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="comName != null">
        com_name,
      </if>
      <if test="comAbbr != null">
        com_abbr,
      </if>
      <if test="comCreateAt != null">
        com_create_at,
      </if>
      <if test="comStatus != null">
        com_status,
      </if>
      <if test="comType != null">
        com_type,
      </if>
      <if test="comTel != null">
        com_tel,
      </if>
      <if test="comImg != null">
        com_img,
      </if>
      <if test="linkman != null">
        linkman,
      </if>
      <if test="contractNumber != null">
        contract_number,
      </if>
      <if test="storeNum != null">
        store_num,
      </if>
      <if test="realtorNum != null">
        realtor_num,
      </if>
      <if test="tradingCenterNo != null">
        trading_center_no,
      </if>
      <if test="codeNo != null">
        code_no,
      </if>
      <if test="codeType != null">
        code_type,
      </if>
      <if test="chargePerson != null">
        charge_person,
      </if>
      <if test="chargePersonType != null">
        charge_person_type,
      </if>
      <if test="chargePersonIdentity != null">
        charge_person_identity,
      </if>
      <if test="qText != null">
        q_text,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="sealData != null">
        seal_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="comName != null">
        #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comAbbr != null">
        #{comAbbr,jdbcType=VARCHAR},
      </if>
      <if test="comCreateAt != null">
        #{comCreateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="comStatus != null">
        #{comStatus,jdbcType=INTEGER},
      </if>
      <if test="comType != null">
        #{comType,jdbcType=TINYINT},
      </if>
      <if test="comTel != null">
        #{comTel,jdbcType=VARCHAR},
      </if>
      <if test="comImg != null">
        #{comImg,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="contractNumber != null">
        #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="storeNum != null">
        #{storeNum,jdbcType=INTEGER},
      </if>
      <if test="realtorNum != null">
        #{realtorNum,jdbcType=INTEGER},
      </if>
      <if test="tradingCenterNo != null">
        #{tradingCenterNo,jdbcType=VARCHAR},
      </if>
      <if test="codeNo != null">
        #{codeNo,jdbcType=VARCHAR},
      </if>
      <if test="codeType != null">
        #{codeType,jdbcType=BIT},
      </if>
      <if test="chargePerson != null">
        #{chargePerson,jdbcType=VARCHAR},
      </if>
      <if test="chargePersonType != null">
        #{chargePersonType,jdbcType=TINYINT},
      </if>
      <if test="chargePersonIdentity != null">
        #{chargePersonIdentity,jdbcType=VARCHAR},
      </if>
      <if test="qText != null">
        #{qText,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        0,
      </if>
      <if test="sealData != null">
        #{sealData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfc.house.domain.RealtorCompany">
    <!--
    开发负责人：liaozm
    功能说明：根据主键来更新对应数据库字段
    是否有缓存：无
    -->
    update realtor_company
    <set>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="comName != null">
        com_name = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comAbbr != null">
        com_abbr = #{comAbbr,jdbcType=VARCHAR},
      </if>
      <if test="comCreateAt != null">
        com_create_at = #{comCreateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="comStatus != null">
        com_status = #{comStatus,jdbcType=INTEGER},
      </if>
      <if test="comType != null">
        com_type = #{comType,jdbcType=TINYINT},
      </if>
      <if test="comTel != null">
        com_tel = #{comTel,jdbcType=VARCHAR},
      </if>
      <if test="comImg != null">
        com_img = #{comImg,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="contractNumber != null">
        contract_number = #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="storeNum != null">
        store_num = #{storeNum,jdbcType=INTEGER},
      </if>
      <if test="realtorNum != null">
        realtor_num = #{realtorNum,jdbcType=INTEGER},
      </if>
      <if test="tradingCenterNo != null">
        trading_center_no = #{tradingCenterNo,jdbcType=VARCHAR},
      </if>
      <if test="codeNo != null">
        code_no = #{codeNo,jdbcType=VARCHAR},
      </if>
      <if test="codeType != null">
        code_type = #{codeType,jdbcType=BIT},
      </if>
      <if test="chargePerson != null">
        charge_person = #{chargePerson,jdbcType=VARCHAR},
      </if>
      <if test="chargePersonType != null">
        charge_person_type = #{chargePersonType,jdbcType=TINYINT},
      </if>
      <if test="chargePersonIdentity != null">
        charge_person_identity = #{chargePersonIdentity,jdbcType=VARCHAR},
      </if>
      <if test="qText != null">
        q_text = #{qText,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      modify_time = now(),
      version = version+1
      <if test="sealData != null">
        seal_data = #{sealData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.shfc.house.domain.RealtorCompany">
    <!--
    开发负责人：liaozm
    是否有缓存：无
    -->
    update realtor_company
    set account_id = #{accountId,jdbcType=VARCHAR},
    com_name = #{comName,jdbcType=VARCHAR},
    com_abbr = #{comAbbr,jdbcType=VARCHAR},
    com_create_at = #{comCreateAt,jdbcType=TIMESTAMP},
    com_status = #{comStatus,jdbcType=INTEGER},
    com_type = #{comType,jdbcType=TINYINT},
    com_tel = #{comTel,jdbcType=VARCHAR},
    com_img = #{comImg,jdbcType=VARCHAR},
    linkman = #{linkman,jdbcType=VARCHAR},
    contract_number = #{contractNumber,jdbcType=VARCHAR},
    store_num = #{storeNum,jdbcType=INTEGER},
    realtor_num = #{realtorNum,jdbcType=INTEGER},
    trading_center_no = #{tradingCenterNo,jdbcType=VARCHAR},
    code_no = #{codeNo,jdbcType=VARCHAR},
    code_type = #{codeType,jdbcType=BIT},
    charge_person = #{chargePerson,jdbcType=VARCHAR},
    charge_person_type = #{chargePersonType,jdbcType=TINYINT},
    charge_person_identity = #{chargePersonIdentity,jdbcType=VARCHAR},
    q_text = #{qText,jdbcType=VARCHAR},
    is_del = #{isDel,jdbcType=INTEGER},
    creater = #{creater,jdbcType=BIGINT},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    modifier = #{modifier,jdbcType=BIGINT},
    modify_time = #{modifyTime,jdbcType=TIMESTAMP},
    version = #{version,jdbcType=BIGINT},
    seal_data = #{sealData,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfc.house.domain.RealtorCompany">
    <!--
    开发负责人：liaozm
    功能说明：根据主键来更新数据库记录
    是否有缓存：无
    -->
    update realtor_company
    set account_id = #{accountId,jdbcType=VARCHAR},
    com_name = #{comName,jdbcType=VARCHAR},
    com_abbr = #{comAbbr,jdbcType=VARCHAR},
    com_create_at = #{comCreateAt,jdbcType=TIMESTAMP},
    com_status = #{comStatus,jdbcType=INTEGER},
    com_type = #{comType,jdbcType=TINYINT},
    com_tel = #{comTel,jdbcType=VARCHAR},
    com_img = #{comImg,jdbcType=VARCHAR},
    linkman = #{linkman,jdbcType=VARCHAR},
    contract_number = #{contractNumber,jdbcType=VARCHAR},
    store_num = #{storeNum,jdbcType=INTEGER},
    realtor_num = #{realtorNum,jdbcType=INTEGER},
    trading_center_no = #{tradingCenterNo,jdbcType=VARCHAR},
    code_no = #{codeNo,jdbcType=VARCHAR},
    code_type = #{codeType,jdbcType=BIT},
    charge_person = #{chargePerson,jdbcType=VARCHAR},
    charge_person_type = #{chargePersonType,jdbcType=TINYINT},
    charge_person_identity = #{chargePersonIdentity,jdbcType=VARCHAR},
    q_text = #{qText,jdbcType=VARCHAR},
    is_del = #{isDel,jdbcType=INTEGER},
    creater = #{creater,jdbcType=BIGINT},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    modifier = #{modifier,jdbcType=BIGINT},
    modify_time = now(),
    version = version+1
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <select id="selectRealtorCompanyByKey" resultType="com.shfc.house.domain.RealtorCompany">
    SELECT
    id,
    com_name as comName
    FROM
    realtor_company
    WHERE
    com_name LIKE concat(concat('%',#{comName,jdbcType=VARCHAR}),'%')
    limit #{page.pageNumber,jdbcType=INTEGER},#{page.pageSize,jdbcType=INTEGER}
  </select>


  <select id="queryCompanyByKey" resultType="com.shfc.house.dto.RealtorCompanyDTO">
    SELECT
    id,
    com_name as comName,
    com_abbr as comAbbr
    FROM
    realtor_company
    WHERE
    com_status=0 and is_del=0 and
    com_name LIKE concat(concat('%',#{keyword},'%'));
  </select>

  <select id="findCompanyByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from realtor_company
    where com_name = #{companyName,jdbcType=VARCHAR}
    limit 1
  </select>

</mapper>