<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shfc.base.dao.BaseTemplateColorMapper">
  <resultMap id="BaseResultMap" type="com.shfc.base.domain.BaseTemplateColor">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="template_color" jdbcType="VARCHAR" property="templateColor" />
    <result column="creater" jdbcType="BIGINT" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, template_id, template_color, creater, create_time, modifier, modify_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    开发负责人：liaozm
    功能说明：根据主键获取一条数据库记录
    是否有缓存：无
    -->
    select 
    <include refid="Base_Column_List" />
    from base_template_color
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    开发负责人：liaozm
    功能说明：根据主键删除数据库的记录
    是否有缓存：无
    -->
    delete from base_template_color
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.shfc.base.domain.BaseTemplateColor" useGeneratedKeys="true">
    <!--
    开发负责人：liaozm
    功能说明：插入数据库记录
    是否有缓存：无
    -->
    insert into base_template_color (id, template_id, template_color, 
      creater, create_time, modifier, 
      modify_time, version)
    values (#{id,jdbcType=BIGINT}, #{templateId,jdbcType=BIGINT}, #{templateColor,jdbcType=VARCHAR}, 
      #{creater,jdbcType=BIGINT}, now(), #{modifier,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=TIMESTAMP}, 0)
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.shfc.base.domain.BaseTemplateColor" useGeneratedKeys="true">
    <!--
    开发负责人：liaozm
    功能说明：选择性插入数据库记录
    是否有缓存：无
    -->
    insert into base_template_color
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="templateColor != null">
        template_color,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="templateColor != null">
        #{templateColor,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        0,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfc.base.domain.BaseTemplateColor">
    <!--
    开发负责人：liaozm
    功能说明：根据主键来更新对应数据库字段
    是否有缓存：无
    -->
    update base_template_color
    <set>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="templateColor != null">
        template_color = #{templateColor,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      modify_time = now(),
      version = version+1
    </set>
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfc.base.domain.BaseTemplateColor">
    <!--
    开发负责人：liaozm
    功能说明：根据主键来更新数据库记录
    是否有缓存：无
    -->
    update base_template_color
    set template_id = #{templateId,jdbcType=BIGINT},
      template_color = #{templateColor,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT},
      modify_time = now(),
      version = version+1
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <select id="selectByPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" /> 
    from base_template_color
    order by create_time desc 
  </select>

  <select id="queryTemplateColor" resultType="java.lang.String">
    SELECT
    template_color as color
    FROM
    base_template_color
    where template_id=#{templateId}
  </select>
</mapper>